.page-content{
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.nav-add {
    width: 3vw;
    height: 3vh;
}

.icon {
    width: 4vw;
    min-width: 2vw;
    height: auto;
}

.sub-icon{
    width: 1vw;
    height: auto;
}

.modal{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    position: fixed;
    top: 5%;
    left: 80%;
    height: 55vh;
    width: 20vw;
}

.modal-body{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

form{
    display: grid;
    grid-template-areas:
    "legend"
    "fieldset"
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    align-items: center;
}


