.page-content{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 36fr 1fr;;
}

.header{
    display: grid;

}

main {

}

.footer{
    grid-column: 1/3;
}

.nav-add {
    width: 3vw;
    height: 3vh;
}

.icon {
    width: 4vw;
    min-width: 2vw;
    height: auto;
}

.sub-icon{
    width: 1vw;
    height: auto;
}

.modal{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    position: fixed;
    top: 5%;
    left: 80%;
    height: 55vh;
    width: 20vw;
}

.modal-body{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

form{
    display: grid;
    grid-template-areas:
    "legend"
    "fieldset"
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    align-items: center;
}

.side-bar{
}


